.DS_Store
config/dev.yml
config/private.yml

dev_releases
.blobs
blobs
.dev_builds

stub.yml
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
releases/**/*.tgz
releases/*.tgz

ci/dummy_pipeline.yml
/.drone.yml
/deployments-runtime
.vagrant/
/pkg
/bin
src_alt
output/
tmp/

.idea
*.swp
*~
*#
#*
/*.yml
/*.tgz
