[submodule "src/code.cloudfoundry.org/grootfs"]
	path = src/code.cloudfoundry.org/grootfs
	url = https://github.com/cloudfoundry/grootfs
	branch = master
[submodule "src/code.cloudfoundry.org/idmapper"]
	path = src/code.cloudfoundry.org/idmapper
	url = https://github.com/cloudfoundry/idmapper
[submodule "src/github.com/masters-of-cats/metatron"]
	path = src/github.com/masters-of-cats/metatron
	url = http://github.com/masters-of-cats/metatron.git
